* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    & p::selection, h1::selection, h2::selection, a::selection {
        color:#CEC3B5 ;
        background-color: #a2571ac1;
    }
}

.products {
    background-color: #130E0A;
    text-align: center;
    color: #CEC3B5;
    padding: 70px 0;
    width: 100%;
    @media (max-width: 426px) {
        padding: 20px 0;
    }

    &_title{
        margin: 0;
        margin-top: 55px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 6px;
        @media (max-width: 768px) {
           font-size: 24px;
        }
        @media (max-width: 426px) {
            margin-top: 20px;
           font-size: 16px;
        }
    }

    .underline, .underline2{
        color: #CEC3B5;
        margin: 0 auto;
        width: 250px;
        @media (max-width: 768px) {
           width: 173px;
        }
        @media (max-width: 426px) {
           width: 137px;
        }

    }

    .underline2 {
        width: 173px;
        @media (max-width: 768px) {
           width: 105px;
        }
        @media (max-width: 426px) {
           width: 70px;
        }
    }

    .container {
        gap: 30px;
        height: 100%;
        width: 1190px;
        margin: 0 auto;
        display: flex;
        margin-top: 70px;
        position: relative;
        align-items: center;
        align-content: center;

        @media (max-width: 1195px) {
            gap: 5px;
            width: 1137px;
            justify-content: space-around;
        }

        @media (max-width: 1100px) {
            gap: 5px;
            width: 999px;
            justify-content: space-around;
        }

        @media (max-width: 998px) {
            width: 762px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        @media (max-width: 768px) {
            width: 742px;
        }
        @media (max-width: 700px) {
            gap: 5px;
            width: 520px;
        }
        @media (max-width: 426px) {
            width: 415px;
            padding: 20px 0;
            margin: 0;
        }
        @media (max-width: 391px) {
            width: 248px;
            margin: 0 auto;
        }

    }

     .slider_wrapper {
      overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
          }

    .slider {
        gap: 30px;
        display: flex;
        flex-flow: row nowrap;
        @media (max-width: 1024px) {
            gap: 20px;
        }
        @media (max-width: 768px) {
            gap: 10px;
        }
    }
    }

.card, .card2 {
    width: 330px;
    text-align: left;
    padding: 30px 40px;
    border-radius: 15px;
    display: inline-block;
    transition: border .3s;
    border: 1px solid #CEC3B5;
    @media (max-width: 998px) {
        width: 215px;
        height: 330px;
        font-size: 12px;
        padding: 20px 25px;
    }
    @media (max-width: 426px) {
        width: 160px;
        height: 260px;
        font-size: 10px;
        padding: 15px 20px;
    }

    img {
        width: 250px;
        height: 250px;
        border-radius: 15px;
        margin-bottom: 20px;
        @media (max-width: 1024px) {
            width: 205px;
            height: 200px;
        }
        @media (max-width: 998px) {
            width: 162px;
            height: 165px;
        }
        @media (max-width: 426px) {
            width: 120px;
            height: 120px;
            margin-bottom: 8px;
        }
    }

    .product_title {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 5px;
        @media (max-width: 768px) {
           font-size: 14px;
        }
        @media (max-width: 426px) {
           font-size: 12px;
        }
    }

    .product_text {
        @media (max-width: 768px) {
           font-size: 12px;
        }
        @media (max-width: 426px) {
           font-size: 10px;
        }
    }
    
    .product_smt {
        display: flex;
        margin-top: 15px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &_price {
           font-weight: 700;
           font-size: 20px;
           margin: 0;
        }

        &_btn {
            transition: background .3s;
         background: #A2581A;
         border-radius: 15px;
         padding: 13px 23px;
         border: none;
         color: #CEC3B5;
         &:hover {
            background: #a2571ac1;
         }
         @media (max-width: 1024px) {
           padding: 8px;
           font-size: 10px;
        }
        }
    }
}

.nxt_btn, .nxt{
    background: #130E0A; 
    // position: absolute;
    border: none;

    &:hover {
        opacity: 0.5;
    }
} 
.prev_btn, .prev {
    background: #130E0A; 
    // position: absolute;
    border: none;
    &:hover {
        opacity: 0.5;
    }
}
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #130E0A;
}

::-webkit-scrollbar-thumb {
    background: #CEC3B5;
    border-radius: 5px;
}