* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body p::-moz-selection, body h1::-moz-selection, body h2::-moz-selection, body a::-moz-selection {
  color: #CEC3B5;
  background-color: rgba(162, 87, 26, 0.7568627451);
}

body p::selection, body h1::selection, body h2::selection, body a::selection {
  color: #CEC3B5;
  background-color: rgba(162, 87, 26, 0.7568627451);
}

.products {
  background-color: #130E0A;
  text-align: center;
  color: #CEC3B5;
  padding: 70px 0;
  width: 100%;
}
@media (max-width: 426px) {
  .products {
    padding: 20px 0;
  }
}
.products_title {
  margin: 0;
  margin-top: 55px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 6px;
}
@media (max-width: 768px) {
  .products_title {
    font-size: 24px;
  }
}
@media (max-width: 426px) {
  .products_title {
    margin-top: 20px;
    font-size: 16px;
  }
}
.products .underline, .products .underline2 {
  background: #CEC3B5;
  margin: 0 auto;
  width: 250px;
  height: 2px;
}
@media (max-width: 768px) {
  .products .underline, .products .underline2 {
    width: 173px;
  }
}
@media (max-width: 426px) {
  .products .underline, .products .underline2 {
    width: 137px;
  }
}
.products .underline2 {
  width: 173px;
}
@media (max-width: 768px) {
  .products .underline2 {
    width: 105px;
  }
}
@media (max-width: 426px) {
  .products .underline2 {
    width: 70px;
  }
}
.products .container {
  gap: 30px;
  height: 100%;
  width: 1190px;
  margin: 0 auto;
  display: flex;
  margin-top: 70px;
  position: relative;
  align-items: center;
  align-content: center;
}
@media (max-width: 1195px) {
  .products .container {
    gap: 5px;
    width: 1137px;
    justify-content: space-around;
  }
}
@media (max-width: 1100px) {
  .products .container {
    gap: 5px;
    width: 999px;
    justify-content: space-around;
  }
}
@media (max-width: 998px) {
  .products .container {
    width: 762px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .products .container {
    width: 742px;
  }
}
@media (max-width: 700px) {
  .products .container {
    gap: 5px;
    width: 520px;
  }
}
@media (max-width: 426px) {
  .products .container {
    width: 415px;
    padding: 20px 0;
    margin: 0;
  }
}
@media (max-width: 391px) {
  .products .container {
    width: 248px;
    margin: 0 auto;
  }
}
.products .slider_wrapper {
  overflow-x: auto;
}
.products .slider_wrapper::-webkit-scrollbar {
  display: none;
}
.products .slider_wrapper .slider {
  gap: 30px;
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 1024px) {
  .products .slider_wrapper .slider {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .products .slider_wrapper .slider {
    gap: 10px;
  }
}
.products .card, .products .card2 {
  width: 330px;
  text-align: left;
  padding: 30px 40px;
  border-radius: 15px;
  display: inline-block;
  transition: border 0.3s;
  border: 1px solid #CEC3B5;
}
@media (max-width: 998px) {
  .products .card, .products .card2 {
    width: 215px;
    height: 330px;
    font-size: 12px;
    padding: 20px 25px;
  }
}
@media (max-width: 426px) {
  .products .card, .products .card2 {
    width: 160px;
    height: 260px;
    font-size: 10px;
    padding: 15px 20px;
  }
}
.products .card img, .products .card2 img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .products .card img, .products .card2 img {
    width: 205px;
    height: 200px;
  }
}
@media (max-width: 998px) {
  .products .card img, .products .card2 img {
    width: 162px;
    height: 165px;
  }
}
@media (max-width: 426px) {
  .products .card img, .products .card2 img {
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
  }
}
.products .card .product_title, .products .card2 .product_title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
}
@media (max-width: 977px) {
  .products .card .product_title, .products .card2 .product_title {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .products .card .product_title, .products .card2 .product_title {
    font-size: 14px;
  }
}
@media (max-width: 426px) {
  .products .card .product_title, .products .card2 .product_title {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .products .card .product_text, .products .card2 .product_text {
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  .products .card .product_text, .products .card2 .product_text {
    font-size: 10px;
  }
}
.products .card .product_smt, .products .card2 .product_smt {
  display: flex;
  margin-top: 15px;
  margin-bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.products .card .product_smt_price, .products .card2 .product_smt_price {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
@media (max-width: 977px) {
  .products .card .product_smt_price, .products .card2 .product_smt_price {
    font-size: 14px;
  }
}
@media (max-width: 426px) {
  .products .card .product_smt_price, .products .card2 .product_smt_price {
    font-size: 15px;
  }
}
.products .card .product_smt_btn, .products .card2 .product_smt_btn {
  transition: background 0.3s;
  background: #A2581A;
  border-radius: 15px;
  padding: 13px 23px;
  border: none;
  color: #CEC3B5;
}
.products .card .product_smt_btn:hover, .products .card2 .product_smt_btn:hover {
  background: rgba(162, 87, 26, 0.7568627451);
}
@media (max-width: 989px) {
  .products .card .product_smt_btn, .products .card2 .product_smt_btn {
    padding: 8px;
    font-size: 10px;
  }
}
.products .second_card .product_smt {
  margin-top: 30px;
}
@media (max-width: 977px) {
  .products .second_card .product_smt {
    margin-top: 29px;
  }
}
@media (max-width: 426px) {
  .products .second_card .product_smt {
    margin-top: 18px;
  }
}
@media (max-width: 375px) {
  .products .second_card .product_smt {
    margin-top: 10px;
  }
}
@media (max-width: 977px) {
  .products .second_card:nth-child(2) .product_smt {
    margin-top: 20px;
  }
}
@media (max-width: 769px) {
  .products .second_card:nth-child(2) .product_smt {
    margin-top: 15px;
  }
}
@media (max-width: 420px) {
  .products .second_card:nth-child(2) .product_smt {
    margin-top: 25px;
  }
}
@media (max-width: 769px) {
  .products .second_card:first-child .product_smt {
    margin-top: 25px;
  }
}
@media (max-width: 426px) {
  .products .card:nth-child(2) .product_smt {
    margin-top: 12px;
  }
}
@media (max-width: 426px) {
  .products .card:nth-child(4) .product_smt {
    margin-top: 15px;
  }
}
@media (max-width: 426px) {
  .products .card:nth-child(5) .product_smt {
    margin-top: 6px;
  }
}
@media (max-width: 426px) {
  .products .card:nth-child(6) .product_smt {
    margin-top: 15px;
  }
}
@media (max-width: 426px) {
  .products .four .product_smt {
    margin-top: 5px;
  }
}
@media (max-width: 426px) {
  .products .card4 .product_text, .products .card5 .product_text, .products .card6 .product_text {
    margin-top: 10px;
  }
}
.products .card4 .product_smt, .products .card5 .product_smt, .products .card6 .product_smt {
  margin-top: 35px;
}
@media (max-width: 768px) {
  .products .card4 .product_smt, .products .card5 .product_smt, .products .card6 .product_smt {
    margin-top: 25px;
  }
}
@media (max-width: 426px) {
  .products .card4 .product_smt, .products .card5 .product_smt, .products .card6 .product_smt {
    margin-top: 25px;
  }
}
@media (max-width: 375px) {
  .products .card4 .product_smt, .products .card5 .product_smt, .products .card6 .product_smt {
    margin-top: 10px;
  }
}
@media (max-width: 426px) {
  .products .card6 .product_smt {
    margin-top: 13px;
  }
}
@media (max-width: 977px) {
  .products .card1 .product_smt {
    margin-top: 2px;
  }
}
@media (max-width: 426px) {
  .products .card3 .product_smt {
    margin-top: 5px;
  }
}
.products .nxt_btn, .products .nxt {
  background: #130E0A;
  border: none;
}
.products .nxt_btn:hover, .products .nxt:hover {
  opacity: 0.5;
}
.products .prev_btn, .products .prev {
  background: #130E0A;
  border: none;
}
.products .prev_btn:hover, .products .prev:hover {
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #130E0A;
}

::-webkit-scrollbar-thumb {
  background: #CEC3B5;
  border-radius: 5px;
}