@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('./first-styles.css');
@import url('/assets/css/slider.css');
@import url('/reg/1/css/style.css');
@import url('/reg/1/css/reg.css');
@import url('/reg/1/css/kovorking.css');
@import url('/footer/footer.css');
@import url('/footer/footer_adaptive.css');
@import url('/cart/cart.css');
/* @import url('/cart/cart_adaptive.css'); */



.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(31, 22, 18, 0.65) 40%, transparent 60%) no-repeat,
  url('/img/section-1/photo-1497515114629-f71d768fd07c.png') 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
background-blend-mode: color-burn;
}
/* .section-1 .active{
  background: black;
  background-image: none;
} */
.section-1__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 50px;
  padding: 50px;
}
/* .section-1__header .active {
  z-index: -1;
} */
.header__span {
  flex: 0 1 30%;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #CEC3B5;
}
/* .header__span .active{

  opacity: 0.3;
} */
.header__nav {
  flex: 0 1 60%;
}
/* .header__nav .active{
  opacity: 0.3;
} */
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list__li a{
  font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 30px;
color: #CEC3B5;
}
.list__li a:hover{
  color: #A1581A;
}
.header__icons {
display: flex;
align-items: center;
height: 300px;
}
.header__icons img {
  padding-left: 10px;
}

/* .header__icons img .active{
  display: none;
} */

.section-1__main {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
/* .section-1__main .active{
  display: none;
} */
.main__title{
  font-weight: 700;
font-size: 96px;
line-height: 117px;
color: #A2581A;
}
.main__title span:last-child{
  color: #CEC3B5;
}
.main__subtext{
  font-weight: 500;
font-size: 30px;
line-height: 49px;
color: #CEC3B5;
}
.main__subtext span{
  font-weight: 700;
font-size: 40px;
line-height: 49px;
color: #CEC3B5;
}
.main__btn {
  background: rgba(162, 88, 26, 0.7);
border-radius: 20px;
padding: 14px 65px;
}
.main__btn a{
  font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #CEC3B5;
}

.section-1__modalWindow {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CEC3B5;
  border-radius: 20px;
  padding: 25px;
}
.modalWindow__number {
  font-weight: 600;
font-size: 40px;
line-height: 49px;
color: #130E0A;
}

.modalWindow__linkToNumber{
  background: #A2581A;
  border-radius: 15px;
  font-weight: 700;
font-size: 24px;
line-height: 29px;
padding: 25px 103px;
color: #CEC3B5;
}

.section-1__modalWindow__close{
  align-self: end;
  font-weight: 700;
  background-color: transparent;
}
.menu{
  display: none;
  flex-direction: column;
  background: rgba(206, 195, 181, 0.2);
  backdrop-filter: blur(10px);
  margin: 80px 0 0 20px;
}

.menu-btn {
  width: 40px;
  height: 30px;
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #CEC3B5;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.nav-m{
  z-index: -1;
  position: absolute;
  width: 60%;
  left: 40%;
  height: 100vh;
  background: rgba(206, 195, 181, 0.2);
  backdrop-filter: blur(10px);
}
.nav-m-list>li{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-left: 30px;
  color: #CEC3B5;
}
#close{
background: none;
  width: 30px;
height:30px;
margin-left: 80%;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #CEC3B5;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}


.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.search {
  display: none;
  position: relative;
  left: 70%;
  top: 10.5%;
  width: 150px;
height: 0px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.search input{
  transition: all 0.7s ease-in-out;
  flex: 0 1 10%;
  background: rgba(206, 195, 181, 0.1);
border: 1px solid #CEC3B5;
border-radius: 15px;
font-weight: 500;
font-size: 18px;
padding: 4px 14px;
line-height: 15px;
color: #CEC3B5;

}

.search button{
  transition: all 0.7s ease-in-out;

  position: relative;
  left: 5%;
border-radius: 15px;
background: none;
color:  #CEC3B5;
}
.search button img{
  width: 20px;
  height: 20px;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: #CEC3B5;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: #CEC3B5;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
height: 1000px;
/* width: 300px; */

}
.nav-list {
  display: none;
  flex-direction: column;
}

.nav-m-list > li{
  font-weight: 600;
font-size: 20px;
line-height: 20px;
text-decoration: underline;
color: #CEC3B5;
}
.nav-m-list>li:hover{
  color: #A1581A;
}

/* планшет - (section-1) */

@media (min-width: 768px) and (max-width: 835px) {
  .header__span {
    font-size: 20px;
  }
  .list__li  a{
    font-size: 16px;
  }
  .section-1__main {
    margin-left: 85.20px;
    flex: 0 1 45%;
  }
  .main__title span{
    font-size: 64px;
    line-height: 25px;
  }
  .main__subtext {
    font-size: 24px;
    line-height: 29px;
  }
  .main__subtext span{
    font-size: 24px;
  }
  .main__btn {
    font-size: 20px;
    padding: 16px 50px;
    margin-top: 50px;
  }
  .header__span{
    flex: 0 1 20%;
  }
  .search{
    top: 16%;
    left: 75%;
  }
  .search input{
    width: 150px;
    font-size: 15px;
  }
  .section-1__modalWindow {
  padding: 50px;
  margin: -120px;
  }
  .modalWindow__number {
    font-size: 24px;
line-height: 29px;
  }
  .modalWindow__linkToNumber {
    font-size: 16px;
line-height: 20px;
padding: 11px 46px;
  }
}

/* телефон - section-1 */

@media (min-width: 320px) and (max-width: 426px){
  .section-1{
      background-color: rgba(40, 40, 40, 0.5);
  }
  .header__span {
    font-size: 16px;
  line-height: 20px;
  }

  .menu{
    display: flex;
    background: none;
  backdrop-filter: none;
  margin: 0 20px;
    width: 0;
  }
  .menu-btn{
    display: flex;
  }

  .search{
    left: 50%;
    top: 15%;
  }
  .search input{
    width: 180px;
  }
  .nav__list{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .header__icons img {
  display: flex;
}
  .section-1__main {
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex: 0 1 90%;
  }
  .main__title span{
    font-size: 36px;
line-height: 44px;
  }
  .main__subtext{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .main__subtext span{
    font-size: 24px;
line-height: 29px;
text-align: center;
  }
  .main__btn {
    font-size: 16px;
line-height: 20px;
padding: 6px 24px;
margin-top: 26px;
  }
  .section-1__modalWindow {
    padding: 25px;
    margin: -250px;
  }
  .modalWindow__number {
    font-size: 16px;
line-height: 20px;
  }
  .modalWindow__linkToNumber {
    font-size: 12px;
line-height: 15px;
padding: 10px 40px;
  }
}