@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('./first-styles.css');

.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(31, 22, 18, 0.65) 40%, transparent 60%) no-repeat,
  url('/img/section-1/photo-1497515114629-f71d768fd07c.png') 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
background-blend-mode: color-burn;
}
.section-1__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 50px;
}
.header__span {
  flex: 0 1 30%;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #CEC3B5;
}
.header__nav {
  flex: 0 1 60%;

}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.list__li a{
  font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 30px;
color: #CEC3B5;
}
.list__li a:hover{
  color: #A1581A;
}
.header__icons {
display: flex;
}
.header__icons img {
  padding-left: 10px;
}

.section-1__main {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main__title{
  font-weight: 700;
font-size: 96px;
line-height: 117px;
color: #A2581A;
}
.main__title span:last-child{
  color: #CEC3B5;
}
.main__subtext{
  font-weight: 500;
font-size: 30px;
line-height: 49px;
color: #CEC3B5;
}
.main__subtext span{
  font-weight: 700;
font-size: 40px;
line-height: 49px;
color: #CEC3B5;
}
.main__btn {
  background: rgba(162, 88, 26, 0.7);
border-radius: 20px;
font-weight: 600;
font-size: 24px;
line-height: 29px;
padding: 14px 65px;
color: #CEC3B5;
}

.section-1__modalWindow {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CEC3B5;
border-radius: 20px;
padding: 25px;
filter: none;
}
.modalWindow__number {
  font-weight: 600;
font-size: 40px;
line-height: 49px;
color: #130E0A;
}

.modalWindow__linkToNumber{
  background: #A2581A;
  border-radius: 15px;
  font-weight: 700;
font-size: 24px;
line-height: 29px;
padding: 25px 103px;
color: #CEC3B5;
}

.section-1__modalWindow__close{
  align-self: end;
  font-weight: 700;
  background-color: transparent;
}

.inputSearch{
  border: 1px solid #fdfdfd;
border-radius: 15px;
font-weight: 500;
font-size: 14px;
line-height: 17px;
background:url('/img/icons/search\ 2.svg') 95% 50% no-repeat, rgba(0, 0, 0, 0.6);
color: #fdfdfd;
padding: 9px 70px 8px 14px;
}

